@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    color: lavender;
}

body {
    min-height: 100vh;
    height: 100vh;

    background-color: #212121;
}

p {
    font-size: 1.35rem
}